## List


List adalah jenis kumpulan data terurut (ordered sequence) dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa namun tak sama array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [ ]:
# Contoh List
L1 = [1, 4, 2, 13]

print(type(L1))

<class 'list'>

In [ ]:
L2 = ["a", "Python", 3]
print(type(L2))

<class 'list'>

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

**Latihan**

In [ ]:
L1 = [8, 200, 130, 6]
L2 = ["satu", "c", 10]

print(L1)
print(L2)

[8, 200, 130, 6]
['satu', 'c', 10]

Indeks di Python (List, Tuple) dimulai dari 0.

In [ ]:
#Sifat-sifat List

#Terurut/Ordered
print("memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

#Dapat diindeks/Sliching
print("Sliching List L1:", L1[3])

#Dapat diizinkan duplikasi
L1 = [1, "Dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1,"Dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1,"Dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambah elemennya:", L1)

#Dapat mengahpus elemen pada data (remove()= menghapus berdasarkan nama objek)
L1 = [1,"Dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

memanggil List L1 dengan indeks urutan: [8, 200, 130]
List L1 setelah diganti elemennya: [8, 2, 130, 6]
Sliching List L1: 6
Duplikasi pada List L1: [1, 'Dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'Dua', 3, (2+3j)]
Data setelah ditambah elemennya: [1, 'Dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'Dua', True]

In [ ]:
# Menambahkan data menggunakan fungsi extend
L1 = [1,"Dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'Dua', True, (2+3j), 'nanas']

In [ ]:
# Menambahkan data menggunakan fungsi insert
L1 = [1,"Dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'Dua', 5, True, (2+3j)]

In [ ]:
#Menghapus elemen menggunakan fungsi pop() (berdasarkan indeks)
L1 = [1,"Dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'Dua', (2+3j)]

In [ ]:
L1 = [1,"Dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'Dua', True]

**Latihan 2**

In [ ]:
#Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:2])

#Mutable
L1[2] = 200
print("List L1 setelah elemennya diganti:", L1)

#Sliching
print("Sliching List L1:", L2[1])

#Duplikasi
L2 = ["satu", "c", 10]
print("Duplikasi pada List L2:", L2)

Memanggil List L1 dengan indeks urutan: [1, 'Dua']
List L1 setelah elemennya diganti: [1, 'Dua', 200]
Sliching List L1: c
Duplikasi pada List L2: ['satu', 'c', 10]

## Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya Tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
# Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print ("ini adalah Tuple", T1)

ini adalah Tuple (1, 'dua', True, (1+2j))

In [ ]:
# Menampilkan tipe struktur data
type(T1)

tuple

**Latihan**

In [ ]:
#Tuple 1
T1 = (400, "anda", False, 6+300j)
print ("ini adalah Tuple saya", T1)

ini adalah Tuple saya (400, 'anda', False, (6+300j))

In [ ]:
#Tuple 2
T2 = (250, 4.75, True, 8.75)
T2

(250, 4.75, True, 8.75)

### Sifat-Sifat Tuple

In [ ]:
#Terurut/Ordered
T1[0:3]
print("memanggil Tuple T1 dengan indeks urutan:",T1[0:3])

memanggil Tuple T1 dengan indeks urutan: (1, 'dua', True)

In [ ]:
#Tibak bisa diganti/Immutable
T1[2] = "manusia"
print("Tuple T1 tidak bisa diganti:",T1[2])

TypeError: ignored

In [ ]:
#Dapat diindeks/slicing
print("elemen kedua dari Tuple T1 adalah:", T1[1])

elemen kedua dari Tuple T1 adalah: dua

In [ ]:
#Dapat diizinkan duplikasi
T2 = (3, 2.4, True, 2.4)
print('elemen Tuple T2 setelah diduplikat:',T2)

elemen Tuple T2 setelah diduplikat: (3, 2.4, True, 2.4)

In [ ]:
# Tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print (f' tuple\t:{T1}')

 tuple	:(1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print (f' tuple\t:{T1}')

AttributeError: ignored

In [ ]:
# Tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print (f' tuple\t:{T1}')

 tuple	:(1, 'dua', True, (1+2j))

In [ ]:
T1.remove(1)
T1.remove("dua")
print (f' tuple\t:{T1}')

AttributeError: ignored

### Menggabungkan Tuple

In [ ]:
#Menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [ ]:
#Gabungan Tuple
T3 = T1 + T2
T3

(400, 'anda', False, (6+300j), 250, 4.75, True, 8.75)