#**OPERATOR**

Operator simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.
Tipe-tipe operator :
1. Operator Aritmetka
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

# Operator Aritmatika

Operator Aritmatika digunakan untuk melakukan operasi matematika yang umum.
Macam macam Operator Atmatika, yaitu :

(+) : penjumlahan

(-) : pengurangan

(*) : perkalian

(/) : pembagian

(%) : modulus

(**) : berpangkatan

(//) : pembagian dengan hasil pembulatanÂ flooring

**Contoh Penggunaan Operator Aritmatika**

In [ ]:
#penjumlahan
print ('penjumlahan')
print (2+2)
#pengurangan
print ('pengurangan')
print ('-'*20)
print (2-3)
#perkalian
print ('perkalian')
print ('-'*20)
print (2*3)
#pembagian
print ('pembagian')
print ('-'*20)
print (2/3)
#modulus
print ('modulus')
print ('-'*20)
print (3%2)
#perpangkatan
print ('perpangkatan')
print ('-'*20)
print (2**3)
#pembagian dengan hasil pembulatan flooring
print ('pembagian pembulatan flooring')
print ('-'*20)
print (3//2)

**Latihan Operator 1**

Buatlah Program penerapan operator Aritmatika dengan nilai - nilai yang berbeda dari contoh diatas

In [ ]:
#penjumlahan
print ('penjumlahan')
print (7+3)
#pengurangan
print ('pengurangan')
print ('-'*20)
print (9-5)
#perkalian
print ('perkalian')
print ('-'*20)
print (15*8)
#pembagian
print ('pembagian')
print ('-'*20)
print (314/2)
#modulus
print ('modulus')
print ('-'*20)
print (9%3)
#perpangkatan
print ('perpangkatan')
print ('-'*20)
print (2**9)
#pembagian dengan hasil pembulatan flooring
print ('pembagian pembulatan flooring')
print ('-'*20)
print (204//10)

penjumlahan
10
pengurangan
--------------------
4
perkalian
--------------------
120
pembagian
--------------------
157.0
modulus
--------------------
0
perpangkatan
--------------------
512
pembagian pembulatan flooring
--------------------
20

# Operator Assignment

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

**Contoh Penggunaan Operator Assignment**

In [ ]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print ('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print (x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

**Latihan Operator 2**

 Buatlah program penerapan operator assignment dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
#Penjumlahan
print('Penjumlahan')
x=4
x=x+9
print(x)
x=20
x+=50
print(x)
print('-'*20)

#Pengurangan
print ('Pengurangan')
x=76
x=x-26
print(x)
x=10
x-=7
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=30
x=x*2
print(x)
x=10
x*=10
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=120
x=x/6
print(x)
x=10
x/=5
print (x)
print('-'*20)

#Modulus
print('Modulus')
x=20
x=x%7
print(x)
x=8
x%=7
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=2
x=x//12
print(x)
x=3
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=2
x=x**10
print(x)
x=2
x**=10
print(x)
print('-'*20)

Penjumlahan
13
70
--------------------
Pengurangan
50
3
--------------------
Perkalian
60
100
--------------------
pembagian
20.0
2.0
--------------------
Modulus
6
1
--------------------
Pembagian Flooring
0
1
--------------------
Perpangkatan
1024
1024
--------------------

# Operator Pembanding

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel

In [ ]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

**Latihan Operator 3**

Buatlah program penerapan operator pembanding dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
print(187==187)
print(6!=1)
print(12>4)
print(12<4)
print(2>=8)
print(19<=16)

True
True
True
False
False
False

# Operator Logika

Operator logika digunakan untuk mengkombinasikan statement statement kondisional
Macam macam opertaor logika:

and -> kondisi menjadi benar apabila semua statementnya benar

or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar

not -> membalik hasil adri benar ke salah dan salah ke benar

**Contoh penggunaan operator logika**

In [ ]:
print(True and False)
print(False or False)
print(not False and True)

**Latihan Operator 4**

Buatlah program penerapan operator logika dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
print(False and True)
print(True or False)
print(not True and False)

False
True
False

# Operator Membership / Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek

Macam macam operator Keanggotaan :

in -> return True ketika nilai tertentu dalam sebuah urutan ada

not in > return True ketika nilai tertentu dalam sebuah uruta tidak ada

**Contoh penggunaan operator keanggotaan**

In [ ]:
a=(1,2,3,4,5,6)
b=2
print(b in a)


print('-'*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

**Latihan Operator 5**

Buatlah program penerapan operator keanggotaan membership dengan nilai nilai yang berbeda dari contoh diatas

In [ ]:
a=(11,12,13,14,15)
b=12
print(b in a)


print('-'*20)
a=(11,12,13,14,15)
b=12
print(b not in a)

True
--------------------
False

## Variabel


Variabel: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.
Syarat syarat penamaan variabel

1. Karakter - karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka

3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
# membuat variabel
kalimat ='ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

**Latihan 1**

buatlah 5 variabel kalian sendiri dengan 5 macam tipe data lalu tampilkan variabel menggunakan fungsi print

In [ ]:
# membuat variabel
kalimat ='ini adalah kalimat'
bilangan1 = 12 + 18j
bilangan2 = 9.2
bilangan3 = 1004
bilangan4 = True

# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah kalimat
(12+18j)
9.2
1004
True

# Tipe Data & Konversi Tipe Data

**Tipe data**

5 tipe data yaitu

1. Integr atau bilangan bulat

2. Float atau bilangan desimal

3. string atau kalimat

4. Boolean yang terdiri dari True dan False

5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

**Latihan 2**

cek tipe data variabel yang telah kalian buat pada latihan 1

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'complex'>
<class 'float'>
<class 'int'>
<class 'bool'>

# Konversi Tipe Data

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

2
1
4.0
1.0
4
2.5
True
True
True
(4+0j)
(2.5+0j)
(1+0j)

**Latihan 3**

konversi tipe data yang telah kalian buat menjadi berbagai macam tipe data

In [ ]:
# konversi tipe data integer
print(int(bilangan3))
print(int(bilangan4))

# konversi tipe data float
print(float(bilangan2))
print(float(bilangan4))

# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

1004
1
9.2
1.0
(12+18j)
9.2
1004
True
True
(12+18j)
(9.2+0j)
(1004+0j)