# Looping/Perulangan

Python menyediakan dua statement untuk melakulian proses perulangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while.

##  For Loop

Perulangan `for`digunakan untuk melakukan iterasi di dalam `sequence` seperti `list`, `tuple`, `string`, dan `array` atau objek yang dapat diiterasi lainnya.

### Example: python for loop

In [ ]:
# Program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# iterasi di dalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

### The range() function

In [ ]:
# Program untuk melakukan iterasi di dalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

# iterasi di dalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

### for loop with else

In [ ]:
# contoh for loop menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

### Latihan 1

In [ ]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
jumlah = 0

for i in list_tagihan:
  jumlah = jumlah + i

print("total tagihan: ", jumlah)

total tagihan:  550000

## While Loop

While loop pada Python digunakan untuk melakukan iterasi pada blok pada blok kode selamam nilai dari` test expression` adalah `true`.

### Example: Python while loop

In [ ]:
# Program untuk menjumlahkan semua
# bilangan asli hingga suku ke-n
# jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i + 1

print(jumlah)

55

### While loop with else

Sama dengan `for` loop kita juga dapat mengkombinasikan `while` loop denghan blok` else`.
Bagian `else` akan dieksekusi jika nilai pada `test expression` pada `while loop` bernilai false. Perhatikan contoh berikut:

In [ ]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) # dieksekusi diluar looping

55

### Latihan 2

In [ ]:
tagihan = [50000, 75000, 125000, 300000, 200000]
total = 0
i = 0

while i < len(tagihan):
  total += tagihan[i]
  i += 1

print("total tagihan: ", total)

total tagihan:  750000

# Percabangan/ Struktur Pemilihan

Pada bagian ini, kamu akan membuat keputusan pada bahasa pemrograman Python menggunakan struktur percabangan atau juga sering disebut IF ELSE Statement. Pengambilan keputusan dibutuhkan ketika kamu akan mengeksekusi suatu kode jika sebuah kondisi tertentu dipenuhi.

Statement `if .. elif ... else` digunakan pada bahasa Python untuk pengambilan keputusan

### IF Statements

### Example: Python IF Statement

In [ ]:
# Jika angka adalah bilangan positif maka print "adalah bilangan positif"

angka = 3
if angka > 0:
  print(angka, "adalah bilangan positif")
print("Pernyataan ini selalu ditampilkan.")

angka = -1
if angka > 0:
  print(angka, "adalah bilangan positif")
print("Pernyataan ini juga selalu ditampilkan.")

3 adalah bilangan positif
Pernyataan ini selalu ditampilkan.
Pernyataan ini juga selalu ditampilkan.

### IF ELSE Statements

### Example: Python IF ELSE Statement

In [ ]:
# Program disusun untuk mengecek apakah angka tersebut kurang dari 0 atau tidak
# dan menampilkan tulisan yang sesuai

angka = 3

if angka >= 0:
  print("Bilangan lebih dari satu samadenghan 0")
else:
  print("Bilangan kurang dari 0")

Bilangan lebih dari satu samadenghan 0

In [ ]:
a = 5
b = 5

if a==b:
  print("a dan b bernilai sama")
else:
  print("a dan b bernilai berbeda")
  print("Belajar if Else")

a dan b bernilai sama

In [ ]:
# Program disusun untuk mengecek apakah perbandingan dua buah angka
# dan menampilkan tulisan yang sesuai

# membaca dua angka
bil1 = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

# memilih bilangan yang lebih besar
if bil1 > bil2:
  bil_lebih_besar = bil1
else:
  bil_lebih_besar = bil2

# menampilkan hasil
print("Bilangan yang lebih besar adalah:", bil_lebih_besar)

Masukkan bilangan pertama: 3
Masukkan bilangan kedua: 5
Bilangan yang lebih besar adalah: 5

### IF ELIF ELSE Statements

In [ ]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif, atau nol
# dan menampilkan tulisan yang sesuai

angka =3.4
if angka > 0:
  print("Bilangan Positif")
elif num == 0:
  print("Nol")
else:
  print("Bilangan Negatif")

Bilangan Positif

In [ ]:
# Statmen if
x = 4
if x % 2 == 0: #jika x dibagi 2 sisanya samadengan 0
  print("x habis dibagi dua")

# Statmen if... elif... Else
x = 7
if x % 2 == 0: #jika x dibagi 2 sisanya samadengan 0
  print("x habis dibagi dua")
elif x % 3 == 0: #jika x dibagi 3 sisanya samadengan 0
  print("x habis dibagi tiga")
elif x % 5 == 0: #jika x dibagi 5 sisanya samadengan 0
  print("x habis dibagi lima")
else:
  print("x tidak habis dibagi dua, tiga, ataupun lima")

x habis dibagi dua
x tidak habis dibagi dua, tiga, ataupun lima

### Python Nested IF Statment

In [ ]:
angka = float(input("Masukan angka: "))
if angka >= 0:
  if angka == 0:
    print("Nol")
  else:
    print("Bilangan Positif")
else:
  print("Bilangan Negatif")

Masukan angka: 4
Bilangan Positif

### Latihan

In [ ]:
def Mahal_Diskon(harga):
    if harga >= 200000:
        kategori = "Mahal"
        diskon = 0.4
    elif harga >= 100000:
        kategori = "Mahal"
        diskon = 0.2
    else:
        kategori = "Murah"
        diskon = 0.1

    keterangan = "Kamu dapat diskon sebesar  " + str(int(diskon * 100)) + "%"
    harga_akhir = harga - (harga * diskon)

    return kategori, keterangan, harga_akhir

harga_produk = 80000
kategori, keterangan, harga_akhir = Mahal_Diskon(harga_produk)

print("Kategori: " + kategori)
print(keterangan)
print("Harga yang perlu dibayarkan: " + str(harga_akhir))

Kategori: Murah
Kamu dapat diskon sebesar  10%
Harga yang perlu dibayarkan: 72000.0